<!-- views/journal/journalList.hbs -->


<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal List</title>
  </head>

  <body>
    <h1>Journal List</h1>
    <!-- Here you can add the HTML structure to display the list of journal entries -->
  </body>

</html>