<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Quest</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
    <div class="health_header">
        <nav class="health_nav">
        <a class="health_menu" href="/">Home</a>
        <a id="dashboard" class="health_menu" href="/dashboard">Dashboard</a>
        {{#if logged_in}}        
        <a id="logout" class="health_menu" href="#">Logout</a>
        {{else}}
        <a id="login" class="health_menu" href="/login">Login</a>
        {{/if}}
        
        </nav>
    </div>
    <h1 class="health_title">Health Quest</h1>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>
</html>
