<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Quest</title>
  <link rel="stylesheet" href="/css/relax.css">
</head>

<body>
    <header>
    <div class="health_header">
        <nav class="health_nav">
        <a class="health_menu" href="/">Home</a>
        
        {{#if logged_in}}        
        <a id="logout" class="health_menu" href="#">Logout</a>
        {{else}}
        <a id="login" class="health_menu" href="/login">Login</a>
        {{/if}}
        
        </nav>
    </div>
    <div class="half-circle"></div>

    
        <h1>RELAX</h1>
    </header>
   

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      
      {{{ body }}}
    </main>
    <footer>
      <footer>
        <p>Team Four!</p>
    </footer>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
