<div class="card">
  <div class="card_header">
    <h3>{{relax_deep_breath_name}}</h3>
    <p>User: {{user.name}}</p>
  </div>
  <div class="card_body">

    <p>{{relax_deep_breath_description}}</p>
  </div>
</div>

<script src="/js/breath.js"></script>