<div class="card breath_entry_form">
  <h3 class="card_header text-center">Create New Breath Relaxation Exercise</h3>
  <form class="card_body add_breath_form" id="add_breath_form">
    <label for="breath_name" class="form-label">Breath Exercise Title:</label>
    <div>
      <input type="text" id="breath_name" name="post_breath" class="m-2 form-input" />
    </div>

    <div>
      <label class="mt-2 form-label" for="content">Exercise:</label>
      <div>
        <textarea
          id="content"
          rows="5"
          name="content"
          class="m-2 form-input"
        ></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-light btn_add_breath" id="new_breath_button">Create</button>
  </form>
</div>

<script src="/js/addBreath.js"></script>