<section class="navs">
  <div class="new_breath">
    <button type="submit" class="btn btn_new" id="new_breath_button">New Deep Breathing Benefit</button>
  </div>
  <div class="breath-benefit">
    <a href="/benefits"><button type="submit" class="btn btn_new" id="breath_benefit_button">Deep Breathing Benefits</button></a>
  </div>
</section>

{{#each breaths as |breath|}}
  <div class="card" id="cardid">
    <div class="card_header">
      <h3><a
          href="/breath/{{breath.id}}"
        >{{breath.relax_deep_breath_name}}</a></h3>
      <p>User: {{breath.user.name}}</p>
    </div>
    <div class="card_body">

      <p>{{breath.relax_deep_breath_description}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/breath.js"></script>