

<div class="carousel-inner hero_carousel">
    <div class="carousel-item active">
    </div>
    <div class="carousel-item">
      <a href="/breaths"><img class="d-block rounded mx-auto hero_carousel_img" src="/images/carousel_breathe.jpeg" alt="Relax with Deep Breathing"></a>
    </div>
    <div class="carousel-item">
      <a href="/inprogress"><img class="d-block rounded mx-auto hero_carousel_img" src="/images/carousel_relax.jpeg" alt="Relax with Progressive Muscle Relaxation (PMR)">
        {{!-- <div class="carousel-caption d-none d-md-block">
    <h5>Progressive Muscle Relaxation</h5> --}}
    </a>
    </div>
    <div class="carousel-item">
      <a href="/inprogress"><img class="d-block rounded mx-auto hero_carousel_img" src="/images/carousel_imagine.jpeg" alt="Guided Imagery"></a>
    </div>
  </div>


{{! Left and Right Controls }}
  <a class="carousel-control-prev" href="#hero_carousel_control" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#hero_carousel_control" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>