@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D2D0BA;
    font-family: 'Merienda', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

nav {
    position: relative;
    background-color: #5E747F;
    text-align: center;
    padding: 10px 20px;
    margin: 0 600px;
    border-radius: 10px;
}

#square {
    width: 1600px;
    height: 1200px; /* Change height for other pages to fit content in square */
    background-color: #b6be9c;
    position: absolute; 
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 20px 20px 450px 450px;
    z-index: -1; 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: red;
    background-color: #7B9E87;
    border-radius: 5px;
    padding: 5px 10px;
    animation: bounce 1.5s;
}

footer {
    background-color: #7B9E87;
    text-align: center;
    padding: 10px 0;
    margin: 0 600px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }

    footer {
        padding: 15px 0;
    }
}
